html
    head
      title login
      meta(charset='utf-8')
      link(rel='stylesheet', type='text/css', href='/stylesheets/bootstrap.min.css')
      link(rel='stylesheet', type='text/css', href='/css/admin_login.css')
    body
        .container(style='margin-top: 15%;')
          .row
            .col-md-4.col-md-offset-4
               h4 login ok
               
